html , body
{
	background-color:black;
}
article
{
	color: white;
	font-family: arial;
	font-size: 24px;
	width: 40%;
}
a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 10px;
	background-color: #69e675;
	border-radius: 5px;
}
a:hover
{
	background-color: #e95a3d;

}




#contador
{
	color: white;
	width: 100px;
	padding: 10px;
	font-size: 72px;
	font-family: arial;
	border-radius: 100%;
	border: 3px solid white;
}
#im 
{
	border-radius: 5px;
}
