body
{
background: url(data/img/fondo.jpg)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
article
{
	margin:0 auto;
	width: 60%;
	background-color: white;
}

#reloj
{

  	width: 90%;
	color: black;
	font-size: 50px;
	font-family: arial;
	margin-bottom: 20px;
}
a
{
	display: inline-grid;
	text-decoration: none;
	font-size:15px;
	color:white;
	padding: 5px;
	font-family: arial;
	background-color: #52c856;
    margin:5px;
	border-radius: 5%;
}
a:hover
{
	background-color: #e2aa11;
}
h1
{
	font-family: Arial;
	font-size: 60px;
}
#yo
{
	border-radius: 100%;
}